argon2-cffi==25.1.0
celery==5.6.0
crispy-bootstrap5==2025.6
django==4.2.17
django-allauth[mfa]==65.13.1
django-anymail[sendgrid]==14.0
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-crispy-forms==2.5
django-environ==0.12.0
django-model-utils==5.0.0
django-qr-code==4.1.0
django-ratelimit==4.1.0
django-redis==6.0.0
djangorestframework==3.16.1
drf-spectacular==0.29.0
flower==2.0.1
gunicorn==23.0.0
hiredis==3.3.0
hypothesis==6.122.3
pillow==12.0.0
psycopg[c]==3.3.2
python-slugify==8.0.4
redis==7.1.0
sentry-sdk==2.48.0
stripe==12.2.0
uvicorn-worker==0.4.0
uvicorn[standard]==0.40.0
whitenoise==6.11.0